<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <title><%= htmlWebpackPlugin.options.title %></title>
  <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
  <% } %>
  <% for (const css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
  <% for (const js in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[js] %>" defer ></script>
  <% } %>
</head>
<body>

  <main class="main-wrapper" id="app">
    <section class="title">
      <h1>Notifications <span class="count-badge">{{notifications.filter(notif=>!notif.read).length}}</span></h1>
      
      <a class="title-action-link" href="#" @click.prevent="markAllAsRead">Mark all as read</a>
    </section>
    <div class="notifications-scrollbox">
      <div class="notifications">
        <div v-for="notification in notifications" class="notification" :class="!notification.read?'unread':''" @click="notification.read=!notification.read">
          <div>
              <img class="profile" :src="notification.senderImg" :alt="notification.sender">
          </div>
          <div class="main">
      
      
              <div>
                <div class="notification-text"><span class="sender">{{notification.sender}}</span> {{notification.text}} <span class="subject" :class="notification.subjectType=='group'?'group':'post'">{{notification.subject}}</span></div>
                <div class="time">{{notification.time}}</div>
              </div>
      
            <div class="text-preview" v-if="notification.preview && notification.previewType=='text'">{{notification.preview}}</div>
          </div>
          <img class="image-preview" v-if="notification.previewType=='image'" :src="notification.preview" :alt="(notification.sender + ' ' + notification.text).substr(0,10) +  '... thumb'">
      </div>
      
      
      
      
        </div>
    </div>
  </main>
  
  <footer class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="https://vaibhavbshete.github.io/frontend-mentor-challenges">Vaibhav Shete</a>.
  </footer>
</body>
</html>