<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet" >
  <title>Frontend Mentor | Interactive card details form</title>
  <link rel="stylesheet" href="public/main.css" id="stylelink">
  <script>
    // let manofest =null;
    fetch('./public/mix-manifest.json')
        .then(function(response) {return response.json()})
        .then(function(manifest) {
          // manofest=manifest;
            const link = document.createElement('link');
            const simplelink = document.getElementById('stylelink');
            link.rel = 'stylesheet';
            link.onload = ()=>{
                simplelink.remove();
            }
            link.href ='./public'+ manifest['/main.css'];
            document.head.appendChild(link);

            // document.addEventListener('DOMContentLoaded',function(){
              // console.log('loading scrit');
              let scrpt=document.createElement('script');
            scrpt.src='./public'+ manifest['/main.js'];
            document.body.appendChild(scrpt);
            // })
            
        });
</script>
  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
</head>
<body>
<main class="font-space-grotesk w-full h-screen flex flex-col md:flex-row" id="cardApp"> 
  <div class="w-full h-64 shrink-0 md:h-full md:w-1/3 relative
   bg-[url('../images/bg-main-mobile.png')]
   md:bg-[url('../images/bg-main-desktop.png')]
   bg-cover
   hidden xs:block">
    <div class="w-full md:w-11/12 md:max-w-sm absolute right-0 h-full md:flex flex-col-reverse gap-4  justify-center">
      <!-- card back -->
      <div class="w-80 md:w-full absolute md:relative right-4 md:right-0 top-8 md:top-auto md:translate-x-1/2 ">
        <div class="aspect-w-[447] aspect-h-[245]
        text-white
        ">
          <div class="bg-[url('../images/bg-card-back.png')] bg-cover shadow-2xl rounded-md">
            <div class="relative h-full w-full text-base md:text-[clamp(0.7rem,0.1286rem+1.1905vw,1.2rem)]">
              <div class="absolute bottom-[43%] h-[16.5%] left-[10%] w-[81%] flex items-center justify-end mx-auto text-right py-[2%] px-3 ">{{card.cvc.value || '000'}}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- card back end -->
      <!-- card front -->
      <div class="w-80 md:w-full absolute md:relative left-4 md:right-0 -bottom-11 md:bottom-auto md:translate-x-1/3 ">
        <div class="aspect-w-[447] aspect-h-[245]
        text-white
        ">
          <div class="bg-[url('../images/bg-card-front.png')] bg-cover shadow-2xl rounded-md">
            <div class="relative h-full w-full">
              <img class="absolute w-1/5 top-[12.2%] left-[7.192%]" src="./images/card-logo.svg" alt="card-logo">
              <div class="absolute w-full left-0 top-1/2 px-5 text-2xl uppercase md:text-[clamp(1rem,-0.1429rem+2.381vw,1.7rem)]">{{ card.number.value || '0000 0000 0000 0000' }}</div>
              <div class="absolute w-full max-w-full left-0 right-0 bottom-[10%] flex justify-between text-xs md:text-[length:clamp(0.5rem,-0.0714rem+1.104vw,0.9rem)] px-[7.2%]">
                <div class=" uppercase overflow-clip grow-0">{{card.name.value || 'Jane Appleseed'}}</div>
                <div class=" uppercase">{{card.expDate.month.value || '00'}}/{{card.expDate.year.value||'00'}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- card front end -->
    </div>
    
  </div>
  <div class="w-full grow md:w-2/3 px-4 md:pl-28 pt-16 md:pt-8 pb-8 flex justify-center items-center">
    
      
    
    <form class="w-96 max-w-full mx-auto" name="cardForm" action="#" v-if="!cardSaved" @submit.prevent="onSubmit()">
      <label class=" block ">
        <span class="my-2 uppercase text-sm tracking-wider block">Cardholder Name</span>
        <span class="input-gradient-wrapper">
          <input class="active-input"
           v-model="card.name.value"
           type="text" maxlength="32" autocomplete="cc-name"
           placeholder="e.g. Jane Appleseed"
           data-validation-function="name"
           data-validation-field="card.name"
           @blur="event=>validate(event.target,true)">
        </span>
        <span class="block text-red my-2">{{card.name.error}}</span>
      </label>
    
      <label class="mt-6 block">
        <span class="my-2 uppercase text-sm tracking-wider">Card Number</span>
        <span class="input-gradient-wrapper">
          <input
           name="number"
           class="active-input"
           :class="card.number.value==''?'':'uppercase'"
           @input="event=>{modInputWSpaces(event);validate(event.target)}"
           :value="card.number.value"
           type="text" inputmode="numeric" autocomplete="cc-number"
           placeholder="e.g. 1234 5678 9123 0000"
           data-validation-function="number"
           data-validation-field="card.number"
           @blur="event=>validate(event.target,true)"
           >
        </span>
        <span class="block text-red my-2">{{card.number.error}}</span>
      </label>
    
    
      <div class="mt-6 flex gap-4 w-full ">
        <span class=" w-1/2">
          <span class="my-2 uppercase text-sm tracking-wider">Exp. Date (<label for="monthInput">MM</label>/<label for="yearInput">YY</label>)</span>
          <span class="flex gap-2 rounded">
            <span class="w-1/2 input-gradient-wrapper" :class="(card.expDate.year.error || card.expDate.month.error)? 'bg-red':''">
              <input class="active-input"
               name="exp-Month"
               id="monthInput"
               maxlength="2" type="text" inputmode="numeric" autocomplete="cc-exp-month" 
               placeholder="MM" pattern="0[1-9]|1[0-2]" title="MM"
               :value="card.expDate.month.value"
               data-validation-function="expDateMonth"
               data-validation-field="card.expDate"
               @input="event=>{card.expDate.month.value=event.target.value;validate(event.target)}"
               @blur="event=>{leadZero(card.expDate.month);validate(event.target,true);}">
            </span>
            <span class="w-1/2 input-gradient-wrapper " :class="(card.expDate.year.error || card.expDate.month.error)? 'bg-red':''">
              <input class="active-input"
               name="expDateYear"
               id="yearInput"
               maxlength="2" type="text" 
               inputmode="numeric" 
               :value="card.expDate.year.value"
               data-validation-function="expDateYear"
               data-validation-field="card.expDate"
               @input="event=>card.expDate.year.value=event.target.value"
               autocomplete="cc-exp-year" placeholder="YY" pattern="\d{2}" title="YY"
               @blur="event=>validate(event.target,true)">
            </span>
          </span>
          <span class="block text-red my-2">{{card.expDate.error}}</span>

        </span>
        <label class=" w-1/2">
          <span class="my-2 uppercase text-sm tracking-wider">CVC</span>
          <span class="input-gradient-wrapper">
            <input class="active-input"
             name="cvc"
             maxlength="3"
             type="text" inputmode="numeric"
             autocomplete="cc-csc" placeholder="e.g. 123"
             data-validation-function="cvc"
             data-validation-field="card.cvc"
             :value="card.cvc.value"
             @input="event=>{card.cvc.value=event.target.value;validate(event.target)}"
             @blur="event=>validate(event.target,true)"
             >
          </span>
          <span class="block text-red my-2">{{card.cvc.error}}</span>

        </label>
      </div>
    
      <!-- <input type="checkbox" name="" id=""> -->
    
    
      <button class="mt-8 bg-very-dark-violet text-white p-3 w-full rounded-lg" type="submit" >Confirm</button>
    
    </form>
    <!-- Completed state start -->
    <section class="w-96 max-w-full mx-auto" v-if="cardSaved">
        <img class="mx-auto" src="./images/icon-complete.svg" alt="tick-mark">
        <div class="mt-8 text-center text-3xl uppercase">Thank you!</div>
        <div class="mt-6 text-center">We've added your card details</div>
        <button class="mt-8 bg-very-dark-violet text-white p-3 w-full rounded-lg" type="button" @click="clearForm();">Continue</button>
        <aside class="attribution absolute bottom-0 right-0 m-4">
          Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
          Coded by <a href="https://vaibhavbshete.github.io/frontend-mentor-challenges/">Vaibhav Shete</a>.
        </aside>
    </section>
  </div>
</main>

  



   <!-- <script>
    
   </script> -->
  <!-- <script src="public/main.js"></script> -->
</body>
</html>
